.background {
    -fx-background-color : #252526;
}

/***********************BUTTON***********************/
. button {
    -fx-padding:2 12 2 12;
    -fx-border-color: #e2e2e2;
    -fx-border-width:2;
    -fx-background-color: #252526;
    -fx-font-family:"Microsoft JhengHei UI";
    -fx-font-size:12pt;
    -fx-text-fill:#d8d8d8;
}

. button:hover {
    -fx-background-color:#3a3a3a ;
}

. button:focused{
    -fx-background-color : derive(#252526 , 15%);
}

. button:pressed{
    -fx-background-color : #ffffff ;
    -fx-text-fill : #252526 ;
}

/***********************TEXT FIELD***********************/
. text-field {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-color: derive(#252526 ,5%);
    -fx-text-fill: #d8d8d8;
    -fx-font-size: 14px;
    -fx-padding: 2 0;
}

/********************RESULT TABLE********************/
. table-view{
    -fx-background-color: derive(#252526 ,20%);
    -fx-focus-traversable: false;
}
. table-view .column-header{
    -fx-background-color: derive(#252526 ,20%);
}
. table-view .label{
    -fx-text-fill: #d8d8d8;
    -fx-font-weight: bold;
    -fx-opacity : 0.9 ;
}
. table-column{
    -fx-background-color: derive(#252526 ,20%);
    -fx-text-fill: #d8d8d8;
    -fx-alignment: center;
}

/***********************ALERT***********************/
.alert{
    -fx-background-color: #252526;
}
.alert > *.header-panel {
    -fx-background-color: #252526;
}
.alert > *.header-panel *.label {
    -fx-text-fill: #d8d8d8;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.alert > *.label.content{
    -fx-text-fill: #d8d8d8;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/*************WEB VIEW*************/
. web-view{
    -fx-background-color: derive(#252526 ,20%);
    -fx-text-fill: #d8d8d8;
}

/***************ABOUT ALERT***************/
.about .label{
    -fx-text-fill: #d8d8d8;
    -fx-font-size: 14px;
}

/**************SLIDE MENU BAR**************/

.list-cell { /* <=== changed to even */
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.list-cell:filled:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.list-cell:filled:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.slideMenuBackground{
    -fx-background-color: rgba(37%, 37%, 38%, 0.9);
}

.menu-header-label{
    -fx-text-fill: #d8d8d8;
    -fx-font-size: 22px;
    //-fx-font-weight: bold;
    -fx-background-color: derive(#252526 ,20%);
}
.menu-button{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 25px;
}